<div class="row">
    <div class="col">
        <div >
            <div class="display-2 fw-bold mt-4">.NET Developer</div>
        </div>
        <div class="border-dark border-top mt-2"></div>
        <div class="display-4 fw-bold mt-4">Опыт работы:</div>
        
    </div>
</div>
<div class="row mt-4 px-4">
    <div class="col">
        <figure>
          <blockquote class="blockquote">
                <h4 class="fw-bold">2022/10 - 2023/02</h4>
                <p class="fw-bold lh-1" style="font-size:2rem">FIRECODE</p>
          </blockquote>
          <figcaption class="blockquote-footer">
                Услуги аутстаффинга <br /> <a href="https://firecode.ru/">https://firecode.ru/</a>
          </figcaption>
        </figure>
        <label class="fw-bold" style="font-size:1.2rem">Инженер-программист</label>
        <p style="text-indent:2rem;text-align:justify;line-height:150%;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            Помощь в разработке сторонним компаниям. Работал с кросс-функциональными командами над определением требований проекта, разработкой программных решений и внедрением изменений в код.
            Наставлял младших разработчиков и предоставлял технические рекомендации для обеспечения качественной и своевременной реализации проектов. Также в свободное время, для повышения квалификации разработал и
            реализовал отдельный проект по принципу микросервисной архитектуры с применением следующего стека технологий: ASP NET Core, Blazor, Redis, RabbitMQ, Postgres, Docker и Kubernetes. Авторизация реализована с помощью IdentityServer. Адрес проекта: <a href="https://scalessimmulator.ru">scalessimmulator.ru</a>.  Ссылки на github: <a href="https://github.com/kotdenis/Scales.BlazorApp.git">
                &nbsp;github.com/kotdenis/Scales.BlazorApp.git</a>, <a href="https://github.com/kotdenis/ScalesSimulator.git">&nbsp;github.com/kotdenis/ScalesSimulator.git</a>
            , <a href="https://github.com/kotdenis/Scales.IdentityServer.git">&nbsp;github.com/kotdenis/Scales.IdentityServer.git</a>
        </p>
    </div>
</div>
<div class="row mt-4 px-4">
    <div class="col">
        <figure>
            <blockquote class="blockquote">
                <h4 class="fw-bold">2021/08 - 2022/06</h4>
                <p class="fw-bold lh-1" style="font-size:2rem">Digital Skynet Corp</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Разработка программного обеспечения <br /> <a href="https://digitalskynet.ru/">https://digitalskynet.ru/</a>
            </figcaption>
        </figure>
        <label class="fw-bold" style="font-size:1.2rem">Инженер-программист</label>
        <p style="text-indent:2rem;text-align:justify;line-height:150%;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            Разработка и доработка веб приложений. Одним из основных проектов являлся проект для регистрации и оплаты туров по 
            мировым туристическим местам <a href="https://thetourguy.com/tours">https://thetourguy.com/tours</a>. В нем оптимизировал существующий код для повышения производительности и устранения ошибок.
            Написал библиотеку для генерации файла sitemap и реализовал работу с S3. Приступил к разработке CMS для нужд компании.
            Тесно сотрудничал с командами контроля качества для обеспечения качества программного обеспечения и приемочного тестирования пользователей.
            Участвовал в code reviews и предоставлял обратную связь членам команды.
        </p>
    </div>
</div>
<div class="row mt-4 px-4">
    <div class="col">
        <figure>
            <blockquote class="blockquote">
                <h4 class="fw-bold">2020/02 - 2021/06</h4>
                <p class="fw-bold lh-1" style="font-size:2rem">Freelance</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Фриланс <br /> <a href="https://kotelnikovdenis.ru/">https://kotelnikovdenis.ru/</a>
            </figcaption>
        </figure>
        <label class="fw-bold" style="font-size:1.2rem">.NET разработчик</label>
        <p style="text-indent:2rem;text-align:justify;line-height:150%;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            Работал над небольшими проектами, используя ASP.NET Core, Entity Framework, MS SQL и MySQL
            Проектировал и разрабатывал программные приложения с использованием языка программирования C#. 
            Участвовал в обзорах кода и вносил свой вклад в постоянное совершенствование процессов разработки программного обеспечения
            Работал с межфункциональными командами для обеспечения своевременной реализации проектов
            Поддерживал и улучшал существующие программные приложения.
        </p>
    </div>
</div>
<div class="row mt-4 px-4">
    <div class="col">
        <figure>
            <blockquote class="blockquote">
                <h4 class="fw-bold">2018/09 - 2020/02</h4>
                <p class="fw-bold lh-1" style="font-size:2rem">ООО "НАИС"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Разработка промышленных весов <br /> <a href="https://nais.ru/">https://nais.ru/</a>
            </figcaption>
        </figure>
        <label class="fw-bold" style="font-size:1.2rem">Программист-разработчик</label>
        <p style="text-indent:2rem;text-align:justify;line-height:150%;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            Разработка приложения для ведения учета весого контроля, ведения сопутствующей документации, работы с перефирийным 
            оборудованием, учета транспорта, заполнения справочников и т.п. Разработал и реализовал алгоритм для расчета количества 
            осей транспорта и веса на каждую ось при заезде. Разработал отдельное приложение для удаленного доступа. Устранил баг с синхронизацией 
            оборудования. Стек технологий: Windows Forms, WPF, MS SQL, SignalR.
        </p>
    </div>
</div>

@code {

}
