

<div class="card rounded-2 bg-dark bg-gradient mb-2" style="min-height:100vh;">
    <div class="row">
        <div class="row">
            <div class="col">
                <div>
                    <div class="row ps-2 pt-4">
                        <div class="col">
                            <img src="images/myphotoes.png" class="rounded-2 mx-auto d-block" style="width:15vw;height:35vh;" />
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <h2 class="fw-bold text-center" style="color:#d1d5db">Денис Котельников</h2>
                            <div class="pt-3 d-flex flex-column" style="width:100%">
                                <p class="fw-bold text-warning lh-1 mx-auto" style="font-size:1vw;"><i class="fa fa-phone"></i>&nbsp;Phone:&nbsp;+7 (988) 562 12 55</p>
                                <p class="fw-bold text-warning lh-1 mx-auto" style="font-size:1vw;"><i class="fa-regular fa-at"></i>&nbsp;Email:&nbsp;kotdeniss2@yandex.ru</p>
                                <p class="fw-bold text-warning lh-1 mx-auto" style="font-size:1vw;"><i class="fa-brands fa-telegram"></i>&nbsp;Telegram:&nbsp;@_telgram</p>
                                <p class="fw-bold text-warning lh-1 mx-auto" style="font-size:1vw;"><i class="fa-brands fa-whatsapp"></i>&nbsp;WhatsApp:&nbsp;+7 (988) 562 12 55</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="pt-3 d-flex flex-column">
                                <h3 class="fw-bold ps-2" style="color:#94a3b8">Hard skills:</h3>
                                <h6 class="fw-bold ms-2" style="color:#d1d5db">C#</h6>
                                <div class="progress ms-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 100%;background-color:#0d9488"></div>
                                </div>
                                <h6 class="fw-bold ms-2" style="color:#d1d5db">T-SQL</h6>
                                <div class="progress ms-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%;background-color:#0d9488"></div>
                                </div>
                                <h6 class="fw-bold ms-2" style="color:#d1d5db">Java Script</h6>
                                <div class="progress ms-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%;background-color:#0d9488"></div>
                                </div>
                                <h6 class="fw-bold ms-2" style="color:#d1d5db">HTML / CSS</h6>
                                <div class="progress ms-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%;background-color:#0d9488"></div>
                                </div>
                                <h6 class="fw-bold ms-2" style="color:#d1d5db">Docker / Kubernetes</h6>
                                <div class="progress ms-2" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%;background-color:#0d9488"></div>
                                </div>
                                <h3 class="fw-bold ps-2 mt-3" style="color:#94a3b8">Soft skills:</h3>
                                <p class="fw-bold ms-2" style="color:#d1d5db;font-size:1vw">-&nbspУмение работать в команде</p>
                                <p class="fw-bold ms-2" style="color:#d1d5db;font-size:1vw">-&nbspКритическое мышление</p>
                                <p class="fw-bold ms-2" style="color:#d1d5db;font-size:1vw">-&nbspТайм-менеджмент</p>
                                <p class="fw-bold ms-2" style="color:#d1d5db;font-size:1vw">-&nbspКреативность</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    
</div>

@code {
    string _telgram = "@kotdeniss";
}
